@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
body {
  font-family: 'Noto Serif JP', sans-serif;
  user-select: none;
  cursor: default;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.overflow-auto, .overflow-scroll, .overflow-y-auto, .overflow-y-scroll {
  -webkit-overflow-scrolling: touch;
}
.overflow-hidden, .overflow-y-hidden {
  -webkit-overflow-scrolling: unset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #EFC04B;
  -webkit-box-shadow: unset;
  transition: background-color 5000s ease-in-out 0s;
}
textarea {
  resize: none;
  min-height: 30vh;
}
*::-webkit-scrollbar {
  width: 1em;
}
*::-webkit-scrollbar-track {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #60C2AE;
  outline: 1px solid #60C2AE;
}
*[class^='hover'], *[class*=' hover'] {
  transition: 0.2s all ease-in-out;
}
.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.bg-opaque {
  background-color: rgba(0,0,0,0.4);
}
.min-w-fit {
  min-width: fit-content;
}